footer {
  grid-area: footer;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: $orange__dark;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  &__title {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
  }
  &__text {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
  }
  &__socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    &--li {
      margin: 0 10px;
      & a {
        text-decoration: none;
        color: #fff;
        border: 1.1px solid white;
        padding: 5px;
        border-radius: 50%;
        & i {
          font-size: 1.1rem;
          width: 20px;
          transition: color 0.4s ease;
        }
        &:hover i {
          color: aqua;
        }
      }
    }
  }
  &__menu {
    display: flex;
    & li {
      padding-right: 10px;
      display: block;
      & a {
        color: #cfd2d6;
        text-decoration: none;
        &:hover {
          color: #27bcda;
        }
      }
    }
  }
  &__bottom {
    background: #000;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    & p {
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
      & a {
        color: #44bae8;
        font-size: 16px;
        text-decoration: none;
      }
    }
  }
}
