.main-register {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: main;
  background-image: url(/assets/images/cassette.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  &__form {
    display: flex;
    background-color: $orange__light;
    background-image: linear-gradient(to bottom, $orange__light, $orange__dark);
    background-position: center;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    height: auto;
    padding: 10px;
    &--p {
      color: white;
      font-size: 25px;
      @include tablet {
        font-size: 20px;
      }
    }
    @include tablet {
      width: 80%;
    }
  }
}
