.main-inicio {
  display: block;
  grid-area: main;

  &__div {
    display: flex;
    &--carousel {
      position: relative;
    }
    &--search-bar {
      position: absolute;
      z-index: 1;
      width: 60%;
      top: 20vw;
      left: 6%;
      .btn {
        @include mobile {
          display: none;
        }
      }
      @include mobile {
        width: 100%;
      }
      @include mobile {
        width: 80%;
      }
    }
    h2 {
      color: white;
    }
    form {
      width: 60%;
    }
  }
}
.section-inicio {
  grid-area: section;
  @include mobile {
    text-align: center;
  }
  &__card-group {
    justify-content: space-between;
    &--card {
      margin: 20px;
    }
  }
}
