.main-categories {
  grid-area: main;
  display: block;
  &__div {
    height: 40vh;
    background-image: url(/assets/images/microphone.jpg);
    background-position: center;
    background-size: cover;
    @include mobile {
      height: 25vh;
    }
    &--h2 {
      color: white;
      position: relative;
      width: 60%;
      top: 50%;
      left: 10%;
    }
  }
}
.section-categories {
  grid-area: section;
  .page-link {
    color: $orange__light;
  }
  @include mobile {
    text-align: center;
  }
}
