* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  .btn-light {
    color: white;
    background-color: #ff641a;
    border-color: #e54916;
  }
  .btn-outline-light {
    color: #ff641a;
    border-color: #ff641a;
  }
  @include tablet {
    font-size: 0.8rem;
  }
  @include mobile {
    font-size: 0.6rem;
  }
}
